<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871183390964-dj9fvuk99n3nj0p10cnub6pu5p75ghao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871183390964-dj9fvuk99n3nj0p10cnub6pu5p75ghao</string>
	<key>API_KEY</key>
	<string>AIzaSyBldBrrRS_1dfyVRIrJsfLdpQ2Noi_e1UU</string>
	<key>GCM_SENDER_ID</key>
	<string>871183390964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ait.edu.au.PartnerUpConnect</string>
	<key>PROJECT_ID</key>
	<string>partner-up-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>partner-up-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871183390964:ios:45119523ab1017512ba6a1</string>
</dict>
</plist>